.App {
  text-align: center;
}



.ms{
  font-family: 'JetBrains Mono', monospace;

}

.col2{
  background-color: #F9D518;
}

.Hea {
  text-decoration: underline;
  text-decoration-color: #F9D518; /* For browsers that support it */
  text-underline-offset: 3px; /* Optional: to adjust the distance from the text */
}


.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Control fade duration */
}

.fade-show {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 8s ease-in-out;
}